body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #66b5d27d;
    background: #101010;
}

header, footer {
    background-color: #6a86239a;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #ffffff;
}


h2 {
    border-bottom: 2px solid #faf9fd;
    padding-bottom: 3px;
}

ul {
    list-style-type: circle;
    padding: 15px;
}

li {
    margin-bottom: 5px;
}

section {
    background: #2ca2c27a;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(234, 229, 229, 0.831);
}

footer {
    font-size: 0.9em;
}